.container
{
    padding-left : 0px;
    padding-right: 0px;
    background-color:#FFFFFF;
}
#img-header
{
    width : 100%;
    height : auto;
    max-width : 100%;
}
#body
{
    min-height:600px;
    margin-left: 20px;
    margin-right: 20px;
}
.navbar
{
    margin-bottom:0px;
}


#loginWishList
{
    z-index:100;
    position:absolute;    
    /*color:black;*/
    font-size:14px;
    font-weight:bold;
    left:800px;
    top:2px;
    /*top:350px;*/
}

#image
{    
    position:absolute;
    left:0;
    top:0;
}

#logoutForm
{
    float:left;
}

.field-validation-error
{
    color:red;
}